$genre-adventure: #FF9900;
$genre-adventure-text: #FFFFFF;

$genre-bedtime: #4A6D7C;
$genre-bedtime-text: #FFFFFF;

$genre-comedy: #FFD700;
$genre-comedy-text: #000000;

$genre-drama: #8B0000;
$genre-drama-text: #FFFFFF;

$genre-dystopian: #6A050B;
$genre-dystopian-text: #FFFFFF;

$genre-educational: #008080;
$genre-educational-text: #FFFFFF;

$genre-fantasy: #8A2BE2;
$genre-fantasy-text: #FFFFFF;

$genre-feel-good: #FFC0CB;
$genre-feel-good-text: #000000;

$genre-folktale: #A0522D;
$genre-folktale-text: #FFFFFF;

$genre-historical: #8B4513;
$genre-historical-text: #FFFFFF;

$genre-horror: #360000;
$genre-horror-text: #FFFFFF;

$genre-mystery: #2F4F4F;
$genre-mystery-text: #FFFFFF;

$genre-mythology: #D4AF37;
$genre-mythology-text: #000000;

$genre-psychological: #4B0082;
$genre-psychological-text: #FFFFFF;

$genre-romance: #FF69B4;
$genre-romance-text: #000000;

$genre-sci-fi: #00CED1;
$genre-sci-fi-text: #000000;

$genre-slice-of-life: #ADD8E6;
$genre-slice-of-life-text: #000000;

$genre-supernatural: #7B68EE;
$genre-supernatural-text: #FFFFFF;

$genre-thriller: #B22222;
$genre-thriller-text: #FFFFFF;

$age-group-kids: #4CAF50;
$age-group-teenagers: #2196F3;
$age-group-adults: #9C27B0 ;