$genre-adventure: #FF9900;
$genre-adventure-text: #BF7300;

$genre-bedtime: #4A6D7C;
$genre-bedtime-text: #81A4B6;

$genre-comedy: #FFD700;
$genre-comedy-text: #A68A00;

$genre-drama: #8B0000;
$genre-drama-text: #C20000;

$genre-dystopian: #6A050B;
$genre-dystopian-text: #A60812;

$genre-educational: #008080;
$genre-educational-text: #00A3A3;

$genre-fantasy: #8A2BE2;
$genre-fantasy-text: #AA61FF;

$genre-feel-good: #FFC0CB;
$genre-feel-good-text: #BF7385;

$genre-folktale: #A0522D;
$genre-folktale-text: #D0865C;

$genre-historical: #8B4513;
$genre-historical-text: #C57640;

$genre-horror: #360000;
$genre-horror-text: #820000;

$genre-mystery: #2F4F4F;
$genre-mystery-text: #628282;

$genre-mythology: #D4AF37;
$genre-mythology-text: #87701A;

$genre-psychological: #4B0082;
$genre-psychological-text: #7500CC;

$genre-romance: #FF69B4;
$genre-romance-text: #BF297D;

$genre-sci-fi: #00CED1;
$genre-sci-fi-text: #008284;

$genre-slice-of-life: #ADD8E6;
$genre-slice-of-life-text: #66818C;

$genre-supernatural: #7B68EE;
$genre-supernatural-text: #A79AFB;

$genre-thriller: #B22222;
$genre-thriller-text: #E83030;